{% extends 'base.html' %}
{% block content %}

	<form action="{% url 'secMes:sendMsg' %}" method="POST"
		style="font-size: large; margin-top: 20vh;">
		{% csrf_token %}
		<div style="display: flex; flex-direction: column; min-width: 56vh;">
			<label for="uname">Enter id of whom you want to send: </label>
			<input type="text" name="uname" required>
			<label for="msg">Enter your Message: </label>
	    	<textarea  id="msg" name="msg" rows="6" cols="10" required></textarea>
	    	<input type="submit" name="Send" value="Send" class="bg-primary">
	    </div>
	</form>

{% endblock %}