{% extends 'base.html' %}
{% block content %}

	<div class="account-details-body">
		<div class="card account-details">
			<p>
				Your account is created successfully on <i>Secret Message</i>.
				<br>
			</p>
			<p>
				Your username is <b style="color: Red">{{ name }}</b>. Please screenshot it and remember your password. Once lost we won't be able to do anything.
			</p>
			<p>
				<form action="{% url 'secMes:home' %}" style="font-size: large;">
					Click on below button. To go to Home Page.
					<hr>
					<div style="display: flex; justify-content: center; margin-top: 2vh;">
						<input type="submit" name="Home" value="Home" class="bg-primary btn">
					</div>
				</form>
			</p>
		</div>
	</div>


{% endblock %}